{% extends 'base.html' %}
{% load static%}
{% block 'body' %}
    <div class="container">
        {% csrf_token %}
        <h2>Student Details</h2>
        {% csrf_token %}
        <form action="{% url 'test_page' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}" >Student Name</label>
                <input type="{{ form.name.field.widget.input_type }}" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" required>
            </div>
            <div class="form-group">
                <label for="{{ form.class_choice.id_for_label }}">Class:</label>
                <select id="{{ form.class_choice.id_for_label }}" name="{{ form.class_choice.html_name }}">
                  {% for option in class_options %}
                    <option value="{{ option }}">Class {{ option }}</option>
                  {% endfor %}
               </select>
            </div>
            <div class="form-group">
                <label for="{{ form.school.id_for_label }}">School</label>
                <input type="text" id="{{ form.school.id_for_label }}" name="{{ form.school.html_name }}" required>
            </div>
            <div class="form-group">
                <label for="{{ form.place.id_for_label }}">Place</label>
                <input type="text" id="{{ form.place.id_for_label }}" name="{{ form.place.html_name }}" required>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn">Register</button>
            </div>
        </form>
    </div>

{% endblock %}