{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block 'head' %}
    {% endblock %}
    <style>
    body{
    background-image: url("{% static 'images/Background.jpg' %}");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
        .hidden{
           display:none;
          }
        #resultsForm{
        display:none;
        }
    </style>
    <meta charset="UTF-8">
    <title>Typesprint</title>
    <link href="{% static 'css/class.css' %}" rel="stylesheet">
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">
    <link href="{% static 'css/test.css' %}" rel="stylesheet">
</head>
<body>
     {% block 'body'%}
     {% endblock %}
</body>
</html>